.git
.idea
alembic/migrations/
__pycache__/
*.pyc
*.pyo
poetry.lock

venv/
.venv/
env/
ENV/

*.swp
logs/
*.log
db.sqlite3
.DS_Store

.env
.env.local
.env.*.local
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/

.github
.vscode
.mypy_cache
.ruff_cache
docs