POSTGRES_DB=movies_db
POSTGRES_DB_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=some_password
POSTGRES_HOST=localhost

# --- THIRD-PARTY INTEGRATIONS ---
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...

TOKEN_SECRET_KEY=UuNi2QtnGzRdGIJmsRURVuQFthrwsr1EZu8fOomLQTZ
TOKEN_ALGORITHM=HS256
